
  
<div class="container">

  <div>
    <h1 class="center-align">Hey</h1>
    <h5 class="center-align">Here's your results.</h5>
  </div>

  <!-- Form -->
  <div class="row">
    <div class="col s12 m6 offset-m3">

      <!-- Send this form via get -->
      <%= form_tag(grants_path, method: 'get', enforce_utf8: false) do %>
    
        <div class="row">

          <div class="input-field col s12">
    
            <%= text_field_tag :q, params[:q] %>
            <%= label_tag :search %>
            <%= submit_tag 'Submit', class: 'waves-effect waves-light btn', :name => nil %>
          </div>
        </div>
      <% end %>
    </div>
  </div> <!-- end form -->


  <!-- results and filter div -->
  <div class="row">

    <!-- filter form -->
    <% if @grants.exists? %>

      <div class="col s12 l3">
        <div class="card-panel">
          <%= form_tag(grants_path, method: 'get', enforce_utf8: false) do %>
            <%= hidden_field_tag :q , params[:q] %>
            <h5>Filter results</h5>
            <p>Organization</p>
            <% all_unique_funders(Grant.pg_search(params[:q])).each do |funder| %>
              <div class="row collection-row">
                
                <%= check_box_tag 'funder_by_id[]', "#{funder.id}", check_params_for_funder(params, funder), id: funder.id %>
                <%= label_tag funder.id, funder.name, for: funder.id %>

              </div>
            <% end %>
            <%= submit_tag 'Submit', class: 'waves-effect waves-light btn', :name => nil %>
          <% end %> 
        </div>
      </div>
      <!-- end results grants list -->

      <!-- results div -->
      <div class="col s12 l9">
        <ul class="collection with-header">
          <li class="collection-header">
            <p>
              Sort by: <span>
                <%= link_to "Grant Name", :q => (params[:q]), :sort => "data -> 'name'", class: 'active' %>
              </span>
              <span>
                | <%= link_to "Deadline", :q => (params[:q]), :sort => "data -> 'deadline'", class: 'active' %>
              </span>
            </p>
          </li>

          <% @grants.each do |grant| %>
            <li class="collection-item avatar">
              <img class="circle" src="<%= image_src(grant) %>">
              <div class="row collection-row">
                <div class="col s9">
                  <span class="title truncate"><%= grant.data['name'] %></span>
                </div>
              </div>
              <p><%= grant.funder.name %> <br>
                <%= grant.deadline_pretty_print %>
              </p>
              <%= link_to "Details", grant_path(grant), class: "secondary-content" %>
            </li>
          <% end %>

        </ul>
      </div>
      <!-- end filter -->

    <% else %>

      <div class="center">
        <h3>Not results found</h3>
        <p>Right now, we mostly have grants for Education research. Try searching for 'education' to see some results.</p>
        <%= image_tag('not_found.png', class: 'responsive-img', alt: 'not found')%>
      </div>

    <% end %>


  </div> <!-- end results div -->

</div>
