<% content_for :application_navbar do %>
    <%= render 'layouts/common_navbar' %>
<% end %>
<div class="container">
  
  
  <div>
    <h1 class="center-align">Hey</h1>
  </div>

  <div class="row">

    <div class="col s12 m6 offset-m3">


      <div class="row">
        <div class="col s12">
          <h4>
            Search for <span class="teal-text text-lighten-2"><%= @grants.count %></span> <br>
            research funding opportunities<br>
            from <span class="teal-text text-lighten-2"><%= @funders.count %></span> <br>
            different funding organizations.
          </h4>
        </div>
      </div>


      <!-- Send this form via get -->
      <%= form_tag(grants_path, method: 'get', enforce_utf8: false) do %>
    
        <div class="row">

          <div class="input-field col s12">
    
            <%= text_field_tag :q, params[:q] %>
            <%= label_tag :search %>
            <%= submit_tag 'Submit', class: 'waves-effect waves-light btn', :name => nil %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  
</div>
