<div class="container">
  
  
  <div>
    <h1 class="center-align">Hey</h1>
    <h5 class="center-align">Here's your results.</h5>
  </div>

  <!-- Form -->
  <div class="row">
    <div class="col s12 m6 offset-m3">

      <!-- Send this form via get -->
      <%= form_tag(grants_path, method: 'get', enforce_utf8: false) do %>
    
        <div class="row">

          <div class="input-field col s12">
    
            <%= text_field_tag :q, params[:q] %>
            <%= label_tag :search %>
            <%= submit_tag 'Submit', class: 'waves-effect waves-light btn', :name => nil %>
          </div>
        </div>
      <% end %>
    </div>
  </div> <!-- end form -->

  <div class="row">
    <div class="col s12">
      <ul class="collection">
  
        <% @grants.each do |grant| %>

          <li class="collection-item avatar">
            <img class="circle" src="<%= image_src(grant) %>">
            <div class="row collection-row">
              <div class="col s9">
                <span class="title truncate"><%= grant.data['name'] %></span>
              </div>
            </div>
            <p><%= grant.organization %> <br>
              <%= grant.data['deadline'] %>
            </p>
            <a href="#!" class="secondary-content">Details</a>
          </li>

        <% end %>

      </ul>
    </div>
  </div>

</div>
