<!-- full size navbar -->
<% if logged_in? %>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'my profile', user_path(current_user), class: "teal-text" %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <li class="divider"></li>
    <li><%= link_to 'log out', logout_path, method: :delete, class: "teal-text" %></li>
  </ul>
<% end %>

<nav class="white" role="navigation">

  <div class="nav-wrapper container">
        
    <ul style="display: inline-block;">
      <li>

        <%= form_tag(grants_path, method: 'get', enforce_utf8: false) do %>
          <div center class="input-field">
            <input id="search" type="search" placeholder="search" name="q" required>
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        <% end %>
      </li>
    </ul>
    
    <ul class="right">
      <% if logged_in? %>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button teal-text" href="" data-activates="dropdown1"><%= current_user.name %><i class="material-icons right teal-text">arrow_drop_down</i></a></li>
      <% else %>
          <li><%= link_to "log in", login_path, class: "teal-text" %></li>
          <li><%= link_to "sign up", signup_path, class: "teal-text" %></li>
      <% end %>
    </ul>
    
</nav>